body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    line-height: 1.5;
}

a{
    transition: all 0.3s ease-in-out;
}

main{
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

section{
    padding: 80px 0;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    background-color: $white;

    &.hero{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../img/bg-hero.jpg');

        &:before{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($black, 0.6);
            content: '';
        }

        h1{
            font-size: 60px;
            line-height: 65px;
        }


    }
}

.scroll-down{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 18px;
    position: relative;

    &:before{
        opacity: 0.5;
        background-image: linear-gradient(180deg, rgba($white, 0.00) 0%, $white 100%);
        border-radius: 4.5px;
        width: 8px;
        height: 22px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
    }

    &:after{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        content: "";
        animation: up-and-down 2s infinite;
    }
}

.bg-gray{
    background-color: #f5f7fa;
}

.timeline{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    list-style: none;

    &:before{
        position: absolute;
        content: "";
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ddd;

        @include device(mobile){
            left: 0;
            transform: unset;
        }
    }

    li{
        display: block;
        width: 100%;
        position: relative;
        padding-top: 3px;
        margin-bottom: 30px;

        .row{
            flex-direction: row-reverse;
        }
        
        &:before{
            position: absolute;
            content: "";
            width: 25px;
            height: 25px;
            border-radius: 50%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary;
            border: 5px solid $white;
            transition: all 0.3s ease-in-out;

            @include device(mobile){
                left: -10px;
                transform: unset;
            }
        }
        .date{
            letter-spacing: 2px;
            font-weight: 700;
            text-align: left;
            padding: 0 20px;
        }

        .description{
            text-align: right;
            padding: 0 20px;

            @include device(mobile){
                text-align: left;
            }
        }

        &:nth-child(2n+1){
            .row{
                flex-direction: unset;
            }
            .date{
                text-align: right;
                @include device(mobile){
                    text-align: left;
                }
            }
            .description{
                text-align: left;
            }
        }

        &:hover{
            &:before{
                background-color: $white;
                border-color: $primary;
            }
        }
    }
}