header{
    .navbar{
        padding: 15px 0px;
        background-color: transparent;
        position: fixed;
        width: 100%;
        z-index: 1024;
        transition: all 0.3s ease-in-out;

        @include device(mobile){
            padding: 10px 15px;
        }
    
        .navbar-brand{
            padding: 0;
            font-size: 3rem;
            line-height: 1;
            color: $white;
            transition: all 0.3s ease-in-out;
            img{
                height: 60px;
            }

            &:hover{
                color: $white;
            }
        }

        .navbar-toggler{
            border-color: $white;

            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-size: 1.2rem;
                    background-color: transparent !important;
                    position: relative;
                    margin: 0 7px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    color: $white;
                    &:hover, &.active{
                        color: $primary;
                    }
                }
    
            }
        }

        &.affix{
            position: fixed;
            background-color: $white;
            -webkit-box-shadow: 0px 0px 18px 1px rgba($black, 0.1);
            box-shadow: 0px 0px 18px 1px rgba($black, 0.1);

            .navbar-brand{
                color: $black;
            }

            .navbar-toggler{
                border-color: $black;
    
                .navbar-toggler-icon{
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            }

            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: $black;
                        &:hover, &.active{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}